$container-desktop-width: 1600;
$base-font-size: 16;

$mobile-xs: 375px; // Очень маленькие телефоны
$mobile-s: 430px; // Маленькие телефоны
$mobile: 768px; // Планшеты portrait
$tablet: 1024px; // Планшеты landscape, маленькие ноутбуки
$laptop-sm: 1280px; // Маленькие ноутбуки, iPad landscape
$laptop: 1440px; // Стандартные ноутбуки
$desktop-xl: 1920px; // Большие мониторы
