html {
  scroll-behavior: smooth;
  
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);
  
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font-family-base), sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: var(--grey-70);
  background-color: var(--grey-10);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  //  font-weight: 700;
  //  color: var(--text-primary);
}

h1,
.h1 {
  //  @include fluid-text(36, 32);
}

h2,
.h2 {
  //  @include fluid-text(32, 27);
}

h3,
.h3 {
  //  @include fluid-text(27, 24);
}

h4,
.h4 {
  //  @include fluid-text(24, 21);
}

h5,
.h5 {
  //  @include fluid-text(23, 19);
}

h6,
.h6 {
  //  @include fluid-text(19, 18);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  
  @include hover {
    //    color: var(--neon-green);
  }
  
  &[class] {
    text-decoration: none;
  }
  
  &:where([class]) {
    display: inline-flex;
  }
}

:focus-visible {
  @include focus-visible;
}

:where(ul[class]) {
  list-style: none;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

:where(address[class]) {
  font-style: normal;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

p {
  --desc-margin-bottom: 24px;
  
  margin-block: 0;
}

p:where(:not([class], :last-child)) {
  margin-bottom: var(--desc-margin-bottom);
}

button,
label {
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent;
}

:focus-visible {
  @include focus-visible;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

button,
label {
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent;
}

:where([stroke]:not([stroke='none'], [stroke^='url'])) {
  stroke: currentcolor;
}

:where([fill]:not([fill='none'], [fill^='url'])) {
  fill: currentcolor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
