.navigation {
  color: var(--absolute-white);
  transition: opacity var(--transition-duration-longer) 0.2s;
  
  @include tablet {
    @include hide;
    margin-block: auto;
  }
  
  &--active {
    @include show;
  }
  
  &__list {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    
    @include tablet {
      flex-direction: column;
    }
  }
  
  &__item {
    font-weight: 400;
  }
  
  &__link {
    padding: fluid(12, 10, 1920, 1440) fluid(24, 18, 1920, 1440);
    border-radius: var(--border-radius-80);
    
    @include hover {
      background-color: var(--grey-15);
    }
    
    &--active {
      background-color: var(--grey-15);
      border-radius: var(--border-radius-80);
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
