.section {
  margin-bottom: fluid(150, 80);
  display: grid;
  row-gap: fluid(80, 60);
  
  &--margin-l {
    row-gap: fluid(100, 60);
  }
  
  &--is-tabs {
    .section__header {
      grid-template-columns: 57% 43%;
      justify-items: end;
      
      @include laptop {
        grid-template-columns: 1fr;
        justify-items: center;
      }
    }
  }
  
  &__header {
    display: grid;
    grid-template-columns: 81% 19%;
    align-items: end;
    row-gap: 20px;
    
    @include laptop {
      grid-template-columns: 1fr;
      justify-content: center;
      text-align: center;
    }
  }
  
  &__info {
    display: grid;
    row-gap: fluid(15, 8);
    justify-items: start;
    
    @include laptop {
      justify-items: center;
    }
    
    h1, h2 {
      margin-block: 0;
      
      span {
        color: var(--green-60);
      }
    }
  }
  
  &__body {
  }
}
