.footer {
  padding: 50px 0 30px;
  background-color: var(--grey-11);
  
  @include tablet {
    padding-bottom: calc(30px + 60px + env(safe-area-inset-bottom));
  }
  
  &__inner {
    display: flex;
    flex-direction: column;
    gap: fluid(50, 30);
  }
  
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: fluid(50, 24);
  }
  
  &__navigation {
    @include show;
    
    .navigation__list {
      flex-direction: row;
      gap: 26px;
    }
    
    .navigation__link {
      background-color: transparent;
      padding: 0;
      
      @include hover {
        background-color: transparent;
        color: var(--green-60);
      }
      
      &--active {
        color: var(--green-60);
      }
    }
  }
  
  &__body {
    display: flex;
    justify-content: center;
    position: relative;
    padding-block: fluid(50, 30);
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      border: var(--border);
    }
    
    &::before {
      top: 0;
    }
    
    &::after {
      bottom: 0;
    }
    
    @include tablet {
      margin-bottom: 20px;
    }
  }
  
  &__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-weight: 400;
    color: var(--white-90);
    
    svg {
      color: var(--green-60);
    }
    
    &-item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    
    &-link {
      &::before {
        content: '';
        
        @include abs-cover;
      }
      
      @include hover {
        color: var(--absolute-white);
      }
    }
  }
  
  &__bottom {
    @include flex-between;
    
    position: relative;
    padding: 16px 30px;
    border: var(--border);
    background-color: var(--grey-10);
    border-radius: var(--border-radius-100);
    
    @include tablet {
      flex-direction: column;
      gap: 20px;
      border-radius: var(--border-radius-12);
      padding: 50px 75px 30px 65px;
    }
  }
  
  &__soc1als {
    &-list {
      display: flex;
      gap: 15px;
    }
    
    &-item {
      background-color: var(--green-60);
      border-radius: var(--border-radius-100);
      transition-duration: var(--transition-duration);
      
      &:active {
        scale: (1.05);
      }
      
      @include hover {
        background-color: var(--absolute-black);
        
        svg {
          color: var(--green-60);
        }
      }
    }
    
    &-link {
      padding: 14px;
      color: var(--absolute-black);
    }
    
    @include tablet {
      @include abs-x;
      top: -15%;
    }
  }
  
  &__legal {
    text-wrap: nowrap;
    display: flex;
    align-items: stretch;
    
    &-link {
      align-items: center;
      position: relative;
      padding-inline: fluid(12, 8);
      
      @include hover {
        color: var(--grey-40);
      }
    }
    
    &-link:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: var(--grey-70);
      }
    }
  }
  
  &__copyright {
    text-wrap: nowrap;
  }
}
