.our-products {
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  
  &__item {
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    text-align: center;
    padding-inline: fluid(50, 30);
    
    &:first-child {
      padding-left: 0;
    }
    
    &:last-child {
      padding-right: 0;
    }
    
    &:not(:last-child) {
      border-right: var(--border);
    }
    
    @include tablet {
      padding: fluid(50, 30) 0;
      
      &:first-child {
        padding-top: 0;
      }
      
      &:last-child {
        padding-bottom: 0;
      }
      
      &:not(:last-child) {
        border-right: none;
        border-bottom: var(--border);
      }
    }
  }
  
  &__icon {
    margin-bottom: fluid(30, 20);
  }
  
  &__title {
    grid-row: 2;
    margin-bottom: fluid(20, 12);
  }
  
  &__desc {
    grid-row: 3;
  }
}
