.our-testimonials {
  &__inner {
  }
  
  & &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  
  &__quote {
    font-weight: 400;
    color: var(--absolute-white);
    margin: 0;
    display: grid;
    gap: 50px;
    text-align: center;
    
    &-icon {
      position: relative;
      width: 100%;
      text-align: center;
      
      &::before {
        @include abs-y;
        translate: -108.6% -50%;
        
        content: '';
        width: 37.6%;
        height: 1px;
        background-color: var(--grey-15);
      }
      
      &::after {
        @include abs-y;
        translate: 8% -50%;
        
        content: '';
        width: 37.6%;
        height: 1px;
        background-color: var(--grey-15);
      }
    }
  }
  
  &__author {
    color: var(--green-60);
  }
}
