.slider {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: fluid(50, 30);
  position: relative;
  
  @include laptop-above {
    grid-template-columns: auto 1fr auto;
  }
  
  & &__container {
    width: 100%;
    grid-row: 1;
    overflow: hidden;
    min-width: 0;
    position: relative;
    
    &::before,
    &::after {
      content: '';
      width: 45%;
      height: 100%;
      position: absolute;
      top: 0;
      pointer-events: none;
      z-index: 2;
    }
    
    &::before {
      left: 0;
      background: linear-gradient(270deg, rgba(25, 25, 25, 0) 0%, var(--grey-10) 105.84%);
    }
    
    &::after {
      right: 0;
      background: linear-gradient(270deg, var(--grey-10) 10.8%, rgba(25, 25, 25, 0) 105.84%);
    }
    
    @include laptop-above {
      grid-column: 2;
      grid-row: 1;
    }
    
    @include laptop {
      border: var(--border);
      border-radius: var(--border-radius-12);
      padding: 20px;
    }
  }
  
  &__navigation {
    grid-row: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
    
    @include laptop-above {
      display: contents;
    }
  }
  
  &__wrapper {
  }
  
  &__slide {
    height: auto;
    user-select: none;
  }
  
  &__button {
    cursor: pointer;
    flex-shrink: 0;
    border: var(--border);
    border-radius: var(--border-radius-100);
    padding: fluid(14, 12);
    display: inline-flex;
    color: var(--green-60);
    background-color: var(--grey-11);
    transition-duration: var(--transition-duration);
    
    @include hover {
      border-color: var(--green-60);
    }
    
    &:active {
      scale: 1.01;
    }
    
    &-prev {
      @include laptop-above {
        grid-column: 1;
        grid-row: 1;
      }
    }
    
    &-next {
      @include laptop-above {
        grid-column: 3;
        grid-row: 1;
      }
    }
  }
}
